/* General Styles */

.wrapper {
    margin-top: 5vh;
  }
  
  .table-hover > tbody > tr:hover {
    background-color: #ccffff;
  }
  
  /* Responsive Table Styles */
  
  /* Large Screens (min-width: 768px) */
  @media only screen and (min-width: 768px) {
    .table {
      table-layout: auto;
      max-width: 100% !important;
    }
  }
  
  /* Table Header Styles */
  thead {
    background: #ddd;
  }
  
  /* Truncate Text in Table Cell */
  .table td:nth-child(2) {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  /* Responsive Table Styles for Small Screens (max-width: 767px) */
  @media only screen and (max-width: 767px) {
    /* Make the table responsive */
    #tableManageBooks,
    #tableManageBooks thead,
    #tableManageBooks tbody,
    #tableManageBooks th,
    #tableManageBooks td,
    #tableManageBooks tr {
      display: block;
    }
  
    /* Hide table headers (but not display: none;, for accessibility) */
    #tableManageBooks thead tr,
    #tableManageBooks tfoot tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  
    /* Style table cells */
    #tableManageBooks td {
      border: none;
      border-bottom: 1px solid #dddddd;
      position: relative;
      padding-left: 50% !important;
    }
  
    /* Style table cell content */
    #tableManageBooks td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }
  
    /* Background and styles for the first column (assumed to be for labels) */
    .table td:nth-child(1) {
      background: #e4e4e4;
      height: 100%;
      top: 0;
      left: 0;
      font-weight: bold;
    }
  
    /* Label the data in the first column */
    #tableManageBooks td:nth-of-type(1):before {
      content: "Image";
    }
  
    #tableManageBooks td:nth-of-type(2):before {
      content: "Isbn";
    }
  
    #tableManageBooks td:nth-of-type(3):before {
      content: "Title";
    }
  
    #tableManageBooks td:nth-of-type(4):before {
      content: "Author";
    }
  
    #tableManageBooks td:nth-of-type(5):before {
      content: "Action";
    }
  
    /* Hide DataTables length control */
    .dataTables_length {
      display: none;
    }
  }
  